@import "tailwindcss";

@theme {
  --font-game: game;
  --color-game-gold: #ffd700;
  --color-game-red: #ff0000;
}

@font-face {
  font-family: game;
  font-style: normal;
  font-weight: normal;
  src: url("/public/font/FS_Sinclair_Medium.otf");
}

html,
body,
#app {
  height: 100%;
  margin: 0;
  overflow: hidden;
  width: 100%;
}

body {
  background: black;
  cursor: none;
}
