@import "@/assets/css/game_font.css";

.home-container {
    padding: 0;
    width: 100vw;
    height: 100vh;
    background: black;
    display: flex;
    flex-direction: column;
}

.home-container::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: url("/public/icons/background/super_earth.png") no-repeat center;
    background-size: 30%;
    background-blend-mode: saturation;
    opacity: 10%;
    filter: grayscale(100%);
}

.title {
    text-shadow: 0 0 4px white;
    font-family: game;
    color: white;
    font-weight: bold;
    letter-spacing: 1px;
    font-size: 90px;
}

.subtitle {
    text-shadow: 0 0 3px yellow;
    font-family: game;
    color: yellow;
    font-weight: bold;
    letter-spacing: 5px;
    font-size: 40px;
}

.game-container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.top-line {
    border-bottom: 5px solid white;
    height: 100px
}

.bottom-line {
    border-top: 5px solid white;
    height: 100px
}