@import "@/assets/css/game_font.css";

.game-container {
    padding: 0;
    width: 100vw;
    height: 100vh;
    background: black;
    display: flex;
    flex-direction: column;
}

.game-container::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: url("/public/icons/background/super_earth.png") no-repeat center;
    background-size: 30%;
    background-blend-mode: saturation;
    opacity: 10%;
    filter: grayscale(100%);
}

.game-layer {
    height: 100vh;
    display: flex;
    flex-direction: row;
}

.round-layer {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
    color: white;
}

.top-line {
    border-bottom: 5px solid white;
    height: 100px
}

.bottom-line {
    border-top: 5px solid white;
    height: 100px
}

.round-layer-label {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    font-weight: bold;
}

.round-layer-label-title {
    font-family: game;
    font-size: 25px;
}

.round-layer-label-index {
    font-family: game;
    font-size: 25px;
    color: gold;
}

.round-layer-title {
    font-family: game;
    font-weight: bold;
    font-size: 50px
}

.game-main {
    gap: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50vw;
}

.game-side {
    padding-top: 30px;
    width: 25vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.game-side-number {
    font-family: game;
    font-size: 40px;
    color: gold;
}

.game-side-label {
    font-family: game;
    font-size: 20px;
    color: white;
}

.stratagems {
    gap: 15px;
    width: 100%;
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-self: center;
}

.stratagems-pointer {
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    gap: 0;
    margin: 0;
    padding: 0;
}

.stratagems-label {
    font-family: game;
    background: gold;
    width: 100%;
    height: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    line-height: 50px;
    font-size: 30px;
}

.arrow-layer {
    width: 100%;
    height: 150px;
    gap: 0;
    margin: 0;
    padding: 0;
}

.round-result {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.round-result-container {
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 50px;
}

.result-item-label {
    font-family: game;
    color: white;
    font-size: 25px;
    font-weight: bold;
}

.result-score-label {
    font-family: game;
    color: gold;
    font-size: 30px;
    font-weight: bold;
}

.round-result-layer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 500px;
}

