@import "@/assets/css/game_font.css";

.rank-container {
    padding: 0;
    width: 100vw;
    background: black;
    display: flex;
    flex-direction: column;
}

.rank-container::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: url("/public/icons/background/super_earth.png") no-repeat center;
    background-size: 30%;
    background-blend-mode: saturation;
    opacity: 10%;
    filter: grayscale(100%);
}

.rank-container-layer {
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 6vh;
}

.rank-result-layer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 29vw;
}

.rank-container-padding {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.rank-item-label {
    text-shadow: 0 0 0.3rem white;
    font-family: game;
    color: white;
    font-size: 1.6vw;
    font-weight: bold;
}

.rank-score-label {
    text-shadow: 0 0 0.2rem yellow;
    font-family: game;
    color: gold;
    font-size: 1.6vw;
    font-weight: bold;
}

.press-key {
    text-shadow: 0 0 0.2rem yellow;
    font-family: game;
    color: gold;
    letter-spacing: 0.2rem;
    font-size: 1.9vw;
    font-weight: bold;
}