@import "@/assets/css/game_font.css";

.rank-container {
    padding: 0;
    width: 100vw;
    height: 100vh;
    background: black;
    display: flex;
    flex-direction: column;
}

.rank-container::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: url("/public/icons/background/super_earth.png") no-repeat center;
    background-size: 30%;
    background-blend-mode: saturation;
    opacity: 10%;
    filter: grayscale(100%);
}

.top-line {
    border-bottom: 5px solid white;
    height: 100px
}

.bottom-line {
    border-top: 5px solid white;
    height: 100px
}

.rank-container-layer {
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 50px;
}

.rank-result-layer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 500px;
}

.rank-container-padding {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.rank-item-label {
    font-family: game;
    color: white;
    font-size: 25px;
    font-weight: bold;
}

.rank-score-label {
    font-family: game;
    color: gold;
    font-size: 30px;
    font-weight: bold;
}

.press-key {
    font-family: game;
    color: gold;
    font-size: 30px;
    font-weight: bold;
}