.stratagems-container {
    width: 12.3vw;
    height: 100%;
    margin: 0;
}

.stratagems-label {
    height: 22.8vh;
    width: 12vw;
}

.stratagems-label img {
    width: 100%;
    height: 100%;
}

.stratagems-svg-default {
    filter: saturate(500%) brightness(100%);
}